# Prerequisites
*.d
*.pdb

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

bin/
build/

#Generated capnp files
*.capnp.cs
*.capnp.cpp
*.capnp.h

# Allow specifics
!premake/premake5.exe
!External/capnproto/bin
!External/capnproto/bin/*.exe
!External/capnproto/bin/*.dll
!External/dxc/bin
!External/dxc/bin/*.exe
!External/dxc/bin/*.dll
!Engine/Renderer/lib/*.dll
!Engine/Renderer/lib/*.lib
# The model format...
!Content/content/*.obj
